@page "/weather"
<PageTitle> Weather App </PageTitle>
<h3>Weather App</h3>
<div class="container">
        <div class="search-box">
            <MudTextField T="string" Label="Enter your location"
                          HelperText="Some helping text" HelperTextOnFocus="true" Variant="Variant.Text" />
            <MudButton Class="fa-solid fa-magnifying-glass">
                <MudIcon>@Icons.Material.Filled.LocationSearching</MudIcon>
            </MudButton>
        </div>
</div>